<!DOCTYPE html>
<html>
<head>
  <title>CalculatorForDiabetics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="content">
		<header>
			<%= link_to "Калькулятор для диабетиков", {controller: "welcome", action: "index"}, {id: "site_name"} %><br />
			<ul>
				<% unless session[:session_key] %>
					<li><%= link_to "Регистрация", 	new_user_path 	%></li>
					<li><%= link_to "Вход на сайт",	sign_in_path 	%></li>
				<% else %>
					<li><%= link_to "Выход", 		sign_out_path, :method => :delete	%></li>
				<% end %>
			</ul> 
		</header>
		
		<%= yield %>
		
		<footer>&copy;2013</footer>
	</section>
</body>
</html>
